<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" >
</head>
<body th:fragment="scripts">
	<footer>
		<div class="copyright col-md-6">© 2017 - IPaySo. All rights reserved.</div>
	
		<div class="col-md-6">
			<button type="button" class="btn btn-bugReport" id="bugReportButton"><a th:href="@{'/bugReport?path=' + ${#httpServletRequest.requestURI}}" >Report a Bug</a></button>		
		</div>	
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
	<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
	
	<script th:inline="javascript">
		$(document).ready(function(){
		    $('.logo-img').click(function(){
		        window.location= "/devipayso-1.0/home";
		    });
		});
	</script>
</body>
</html>