<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->

<title>Sign up to your account ipayso</title>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 top-menu-bar">
				<div class="logo-ipayso">
					<img src="/static/images/logo-ipayso.png" th:src="@{images/logo-ipayso.png}" alt="logo ipayso" class="logo-img"/>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 banner-sign-up">
				<h1 class="banner-header" th:text="#{label.banner.header}"></h1>
				<div class="sign-up-desc" th:text="#{label.banner.desc}"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

				<h2 class="form-ipayso" th:text="#{label.header.title.bugReport}"></h2>
				<div class='signup'>
					<form th:object="${bugReportTicket}" th:action="@{/bugReport}" method="post">
						<div class="alert alert-danger" th:if="${#fields.hasErrors()}">
							<div th:each="detailedError : ${#fields.detailedErrors()}">
								<span th:text="${detailedError.message}"></span>
							</div>
						</div>
						<span th:text="${uri}"></span>
						<div class="alert alert-danger" th:if="${not #strings.isEmpty(msg)}">
							<span th:text="${msg}"></span>
						</div>
						<div class="input-group input-group-lg" th:classappend="${#fields.hasErrors('title')} ? has-error">
							<span class="input-group-addon" id="title" th:text="#{label.field.title}"></span>
							<input type="text" class="form-control" placeholder="Title" th:field="*{title}" aria-describedby="title"/>
						</div>
						<div class="input-group input-group-lg" th:classappend="${#fields.hasErrors('url')} ? has-error">
							<span class="input-group-addon" id="url" th:text="#{label.field.url}"></span>
							<input type="text" class="form-control" placeholder="URL" th:field="*{url}" value="*{url}" aria-describedby="url" disabled="true"/>
						</div>
						<div style="text-align: center; margin: auto; padding-top: 20px; padding-bottom: 10px; font-size: 22px;">
							<span id="description" th:text="#{label.field.description}"></span>
						</div>
						<div class="input-group input-group-lg" th:classappend="${#fields.hasErrors('description')} ? has-error">
							<textarea placeholder='Description' th:field="*{description}" cols="38" rows="15"></textarea>
						</div>
						<button type="button" class="btn btn-default" id="cancelBugReport" th:text="#{label.button.cancel}"></button>
						<button type="submit" class="btn btn-default" th:text="#{label.button.report}"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<article class="b-page1_top"></article>
	<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
	<script th:inline="javascript">
		$(document).ready(function(){
		    $('#cancelBugReport').click(function(){
		        window.location= "/home";
		    });
		});
	</script>
</body>
</html>