<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>I Pay So</title>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/head2 :: head2"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/head3 :: head3"></th:block> /*/-->

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 top-menu-bar">
				<div class="logo-ipayso">
					<img src="../../static/images/logo-ipayso.png" th:src="@{../images/logo-ipayso.png}" alt="logo ipayso" class="logo-img"/>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">				
			<div style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
				<h2 style="padding: 20px"><span th:text="${title}"></span></h2>
				
				
				<form th:object="${customer}" th:action="@{/customers/save}" method="post">
					<div style="padding: 0px 250px 250px">
						<input type="hidden" th:field="*{id}" />
						<input type="hidden" th:field="*{version}" />
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors()}">
	         				<div th:each="detailedError : ${#fields.detailedErrors()}">
	         					<span th:text="${detailedError.message}"></span>
	         				</div>
	         			</div>
	        			<div class="alert alert-danger" th:if="${not #strings.isEmpty(msg)}">
	        				<span th:text="${msg}"></span>
	        			</div>
	           			<div class="input-group input-group-lg" th:classappend="${#fields.hasErrors('username')} ? has-error">
							 <span class="input-group-addon" id="username">Username: </span>
							 <input type="text" class="form-control" placeholder="Username" th:field="*{username}" aria-describedby="username"/>
						</div>
	           			<div class="input-group input-group-lg" th:classappend="${#fields.hasErrors('country')} ? has-error">
							 <span class="input-group-addon">Country: </span>
							 <select class="form-control" th:field="*{country}">
						    	<option placeholder="#{label.signup.countries}"
											th:each="country : ${countries}" 
									        th:value="${country.description}" 
									        th:text="${country.description}">Country</option>
						  	</select>
						</div>
	           			<div class="input-group input-group-lg" th:classappend="${#fields.hasErrors('bank')} ? has-error">
							 <span class="input-group-addon" id="bank">Bank: </span>
							 <input type="text" class="form-control" placeholder="Bank" th:field="*{bank}" aria-describedby="bank"/>
						</div>
	           			<div class="input-group input-group-lg" th:classappend="${#fields.hasErrors('bank_acc')} ? has-error">
							 <span class="input-group-addon" id="bank_acc">Bank Account: </span>
							 <input type="text" class="form-control" placeholder="Bank Account" th:field="*{bank_acc}" aria-describedby="bank_acc"/>
						</div>
						<div class="row" th:classappend="${#fields.hasErrors('month') or
														 #fields.hasErrors('day') or 
														 #fields.hasErrors('year')} ?  has-error">
							<div class="input-group input-group-lg col-lg-4">
								<span class="input-group-addon">Month: </span>
								<select class="form-control" th:field="*{month}">
									<option placeholder="#{label.signup.month}"
											th:each="month : ${months}" 
									        th:value="${month.description}" 
									        th:text="${month.description}">Month</option>
								</select>
							</div>
							<div class="input-group input-group-lg col-lg-4">
								<span class="input-group-addon">Day: </span>
								<select class="form-control" th:field="*{day}">
									<option placeholder="#{label.signup.day}"
											th:each="day : ${days}" 
									        th:value="${day.description}" 
									        th:text="${day.description}">Day</option>
								</select>
							</div>
							<div class="input-group input-group-lg col-lg-4">
								<span class="input-group-addon">Year: </span>
								<select class="form-control" th:field="*{year}">
									<option placeholder="#{label.signup.year}"
											th:each="year : ${years}" 
									        th:value="${year.description}" 
									        th:text="${year.description}">Day</option>
								</select>
							</div>
							
						</div>
						
						<div class="row radio-margin">
							<div class="col-lg-6" th:each= "gender : ${genders}">
								<div class="input-group">
									<span class="input-group-addon" >
										<input type="radio" th:value="${gender.description}" th:field="*{gender}"/> 
									</span>
									<span class="form-control" th:text="${gender.description}" ></span>	
								</div>	
							</div>
						</div>
						<div class="row radio-margin">
							<div class="col-lg-6" th:each= "role : ${roles}">
								<div class="input-group">
									 <span class="input-group-addon" >
									 	<input type="radio" aria-label="..." th:value="${role.description}" th:field="*{role}"/>
									 </span>
									 <span class="form-control" th:text="${role.description}" ></span>
								 </div>
							</div>
						</div>
						
						<div class="input-group input-group-lg" th:classappend="${#fields.hasErrors('user')} ? has-error">
							 <span class="input-group-addon">User's Email: </span>
							 <select class="form-control" th:field="*{user.email}">
						    	<option placeholder="User's Email"
											th:each="email : ${users}" 
									        th:value="${email}" 
									        th:text="${email}">User's Email</option>
						  	</select>
						</div>
						
						
						 
						<div class="row">
							<button type="submit" class="btn btn-default">Submit</button>
							<button type="button" class="btn btn-default"><a th:href="@{/customers}" >Cancel</a></button>
						</div>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					 </div>
				</form>
			</div>
		</div>
	</div>
	<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
	<!--/*/ <th:block th:include="fragments/scripts2 :: scripts2"></th:block> /*/-->
	<!--/*/ <th:block th:include="fragments/scripts3 :: scripts3"></th:block> /*/-->
</body>
</html>