<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	
	<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
	
	<title>Sign up to your account ipayso</title>
	
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 top-menu-bar">
				<div class="logo-ipayso">
					<img src="../static/images/logo-ipayso.png" th:src="@{images/logo-ipayso.png}" alt="logo ipayso" class="logo-img"/>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid account-page">
		<div class="row">
			<div
				class="col-md-push-1 col-lg-push-1 col-xs-12 col-sm-12 col-md-3 col-lg-3 edit-account">
				<h1 class="edit-account-header">EDIT MY ACCOUNT</h1>
				<div class="account-menu">
					<ul>
						<li><a href="#">Reset password</a></li>
						<li><a href="#">Check account current</a></li>
						<li><a href="#">Reset PIN</a></li>
						<li><a href="#">Change Bank Account</a></li>
					</ul>
				</div>
				<div class="bind-account">
					<h3>Bind my account</h3>
					<div class="bind-icon">
						<div class="google-icon">
							<a href="#"><img src="../images/g-plus-logo.png" th:src="@{images/g-plus-logo.png}" alt="bind google account"/></a>
						</div>
						<div class="facebook-icon">
							<a href="#"><img src="../images/facebook-logo.png" th:src="@{images/facebook-logo.png}" alt="bind facebook account"/></a>
						</div>
					</div>
				</div>
			</div>
			<div
				class="col-md-push-2 col-lg-push-2 col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h2 class="form-ipayso">My account</h2>
				<div class='signup'>
					<form th:object="${user}" th:action="@{/editMyAccount}" method="post">
						<input type="hidden" th:field="*{id}"/>
           				<input type="hidden" th:field="*{version}"/>
           				
           				<div class="alert alert-danger" th:if="${#fields.hasErrors()}">
           					<div th:each="detailedError : ${#fields.detailedErrors()}">
           						<span th:text="${detailedError.message}"></span>
           					</div>
           				</div>
           				<div class="alert alert-danger" th:if="${not #strings.isEmpty(msg)}">
           					<span th:text="${msg}"></span>
           				</div>
           				
						<div class="ips-login" th:classappend="${#fields.hasErrors('email')} ? has-error">
							<input type='text' placeholder='E-mail (as username)' th:field="*{email}" />
						</div>
						<div class="ips-pass" th:classappend="${#fields.hasErrors('password')} ? has-error">
							<input type='text' placeholder='Password' th:field="*{password}"/>
						</div>
						<div class="ips-pass">
							<input type='text' placeholder='Confirm password' th:field="*{passwordConfirm}"/>
						</div>
						<div class="h-input">Date of birth:</div>
						<div class="row" th:classappend="${#fields.hasErrors('month') or
														 #fields.hasErrors('day') or 
														 #fields.hasErrors('year')} ?  has-error">
							<div class="col-lg-4">
								<select class="f-select" id="sel1" th:field="*{month}">
									<option placeholder="#{label.signup.month}"
											th:each="month : ${months}" 
									        th:value="${month.description}" 
									        th:text="${month.description}">Month</option>
								</select>
							</div>
							<div class="col-lg-4">
								<select class="f-select" id="sel2" th:field="*{day}">
									<option placeholder="#{label.signup.day}"
											th:each="day : ${days}" 
									        th:value="${day.description}" 
									        th:text="${day.description}">Day</option>
								</select>
							</div>
							<div class="col-lg-4">
								<select class="f-select" id="sel3" th:field="*{year}">
									<option placeholder="#{label.signup.year}"
											th:each="year : ${years}" 
									        th:value="${year.description}" 
									        th:text="${year.description}">Day</option>
								</select>
							</div>
						</div>
						<div class="row radio-margin">
							<div class="col-lg-6" th:each= "gender : ${genders}">
								<label class="f-radio"> <input name="radio" type="radio" th:value="${gender}" th:field="*{gender}"/> 
									<span th:text="${gender.description}" ></span>
								</label>
							</div>
						</div>
						<div class="ips-country">
							<select class="f-select" id="sel3" th:field="*{country}">
									<option placeholder="#{label.signup.countries}"
											th:each="country : ${countries}" 
									        th:value="${country.description}" 
									        th:text="${country.description}">Day</option>
							</select>
						</div>
						<div class="ips-bank">
							<input type='text' placeholder='Bank'  th:field="*{bank}"/>
						</div>
						<div class="ips-iban">
							<input type='text' placeholder='Bank account#'  th:field="*{bank_acc}"/>
						</div>
						<div class="h-input">User password hint question 1:</div>
						<input type='text' placeholder='User password hint question 1' th:field="*{question1}"/>
						<div class="h-input">User password hint question 2:</div>
						<input type='text' placeholder='User password hint question 2' th:field="*{question2}"/>
						<button type="submit" class="btn btn-default">SAVE</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<article class="b-page1_top"></article>
	<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
</body>
</html>