<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	
	<title>Account not encountered</title>
	<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
	
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 top-menu-bar">
				<div class="logo-ipayso">
					<img src="/static/images/logo-ipayso.png" th:src="@{/images/logo-ipayso.png}" alt="logo ipayso" class="logo-img"/>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 banner-sign-up">
				<h1 class="banner-header">Payment via your mobile</h1>
				<div class="sign-up-desc">just got safer</div>
				<div class="btn btn-default btn-login">
					<a th:href="@{/signup}">SIGN UP</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="alert alert-danger" th:if="${not #strings.isEmpty(msg)}">
           			<span th:text="${msg}"></span>
           		</div>
				<div class="">
           			<span th:text="${msg}"></span>
           		</div>
           		<div>
           			Bad Credential
           			<form th:action="@{/resendEmailVerification}" method="post">
           				<button type="submit" class="btn btn-default">LOG IN</button>
					</form>
           		</div>
			</div>
		</div>
	</div>
	<article class="b-page1_top"></article>
	<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
</body>
</html>