<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>I Pay So</title>
	<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
	
</head>
	<body>
	<div class="container">
	    <div class="jumbotron">
	    	<div class="row" style="margin-top: -10px">
		    	<div style="float: left;">
					<img src="/static/images/logo-ipayso.png" th:src="@{/images/logo-ipayso.png}" alt="logo ipayso" class="logo-img" width= "60"/>
		    	</div>
		    	<div style="margin: auto; text-align: center">
			        <h2 th:text="#{label.welcome}"></h2>
		    	</div>	    	
	    	</div>
	       
	        <div class="row" style="margin-top: 30px">
	        
		        <table class="table table-striped">
		            <tr>
		                <th><a th:href="@{/login}" th:text="#{label.login}"></a></th>
		                <th><a th:href="@{/signup}" th:text="#{label.signup}"></a></th>
		                <th><a th:href="@{/buyTicket}" th:text="#{label.ticket}"></a></th>
		            </tr>
	            </table>
	        </div>
	        <br/>
	        <br/>
	        <br/>
	        <br/>
	        <br/>
	        <div class="row">
	        	<div class="col-lg-6">
		        	<div class="row" style="text-align: center; margin: auto">
			        	<spam style="text-align: center; font-size: 30px" th:text="#{label.title.adminArea}"></spam>
		        	</div>
		        	<br/>
	       			<br/>
			        <div class="row">
			        	<ul class="list-group">
			        		<li class="list-group-item"><a th:href="@{/users}" th:text="#{label.users}"></a></li>
			        		<li class="list-group-item"><a th:href="@{/customers}" th:text="#{label.customers}"></a></li>
			        		<li class="list-group-item"><a th:href="@{/bugs}" th:text="#{label.bugs.ticket}"></a></li>
			        	</ul>
			        </div>
	        	</div>
	        </div>
	    </div>
	</div>
	</body>
</html>